.stage {
  -fx-border-color: rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.2);
  -fx-border-width: 1 0 0 0, 1 0 0 0;
  -fx-border-insets: 0, 1;
  
  -fx-background-color: radial-gradient(center 50% 0%, radius 100%, derive(-c-shadow-highlight, -50%), black);
}
