.table-view {
  -fx-background-color: transparent;
}

.table-row-cell {
  -fx-background-color: transparent;
  -fx-padding: 0;  
}

.table-cell {
  -fx-background-color: transparent;
  -fx-padding: 0;  
  -fx-opacity: 0.8;
  
  -fx-border-color: transparent;
  -fx-border-width: 8;
  -fx-border-insets: 0;
}

.table-cell:empty {  
  -fx-background-color: transparent;
  
  -fx-border-color: transparent;
  -fx-border-width: 8;
  -fx-border-insets: 0;
}

.table-cell:focused {
  -fx-border-color: black, radial-gradient(center 50% 5%, radius 100%, rgb(255, 255, 255) 0%, rgb(192, 192, 0)), transparent;
  -fx-border-radius: 6, 4, 0;
  -fx-border-width: 1, 4, 3;
  -fx-border-insets: 0, 1, 5;
  
  -fx-opacity: 1.0;
}
