
.root {
  color-blue: rgb(173, 216, 230);
  color-blue-50: rgba(173, 216, 230, 0.5);
  color-orange: rgb(255, 180, 50);
  color-green: rgb(0, 255, 0);
  color-yellow: rgb(255, 255, 0);
  color-red: rgb(255, 0, 0);
  -fx-font: 14pt "Arial";
}

.label {
  -fx-text-fill: color-blue;
}

.title {
  -fx-font: bold 22pt "Arial";
  -fx-text-fill: derive(color-blue, +50%);
}

.subtitle {
  -fx-font: bold 18pt "Arial";
}

.debug-border {
  -fx-stroke: red;
  -fx-stroke-width: 5;
  -fx-border-color: red;
  -fx-border-width: 5;
}

#selectItem-listView *.label {
  -fx-text-fill: color-blue;
}

#selectItem-listView {
  -fx-font: bold 18pt "Arial";
  -fx-background-color: null;
}

#selectItem-listCell-subtitle {
  -fx-font: 12pt "Arial";
}

.list-cell:even, .tree-cell:even {
  -fx-background-color: null;
}
.list-cell:odd, .tree-cell:odd {
  -fx-background-color: null;
}
.list-cell:focused, .tree-cell:focused {
  -fx-background-color: rgba(173, 216, 230, 0.3);
}

#top-bar *.label {
  -fx-font: bold 18pt "Tahoma";
  -fx-text-fill: rgb(173, 216, 230);
}

#top-bar {
  -fx-background-color: rgba(0, 0, 255, 0.3);
  -fx-border-color: white;
  -fx-border-width: 0 0 2 0;
}

.content-box {
/*  -fx-text-fill: rgba(#006464; */
  -fx-background-color: derive(color-blue-50, -50%);
  -fx-border-radius: 20;
  -fx-background-radius: 20;
  -fx-padding: 30;
  
}

.content-box-grid {
  -fx-padding: 10;
  -fx-hgap: 20;
  -fx-vgap: 20;
}



#video-osd-line {
  -fx-padding: 40;
  -fx-font: bold 48pt "Arial";
  -fx-text-fill: white;
}


/* Video Overlay */

#video-overlay {
  -fx-padding: 40;
  -fx-background-color: linear-gradient(from 0% 50% to 0% 100%, rgba(0, 0, 0, 0), black 50%);
}

#video-overlay_info {
  -fx-padding: 40 0 0 40;
}

#video-overlay .video-title {
  -fx-font: bold 64pt "Arial";
  -fx-text-fill: white;
}

#video-overlay .video-subtitle {
  -fx-font: bold 24pt "Arial";
  -fx-text-fill: white;
  -fx-padding: 0 0 20 0;
}

#video-overlay {
  -fx-font: 24pt "Arial";
  -fx-text-fill: color-blue;
}

#video-overlay_info_bar {
  -fx-spacing: 20;
  -fx-alignment: CENTER;
}

#video-overlay .progress-bar {
  -fx-background-color: black;
}

.progress-bar .track {
  -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, derive(color-blue, -50%), derive(color-blue, 0%)), 
                        linear-gradient(from 0% 0% to 0% 100%, derive(color-blue, -25%), derive(color-blue, -50%)),
                        linear-gradient(from 0% 0% to 0% 100%, derive(color-blue, -50%), derive(color-blue, -100%)); 
  -fx-background-radius: 8, 8, 8;
  -fx-background-insets: 0, 1, 2;
}

.position .progress-bar .bar {
  -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, derive(color-orange, -75%) 0%, derive(color-orange, 0%) 36%, derive(color-orange, -75%) 100%),
                        linear-gradient(from 0% 0% to 0% 100%, derive(color-orange, -50%) 0%, derive(color-orange, 25%) 36%, derive(color-orange, -50%) 100%), 
                        linear-gradient(from 0% 0% to 0% 100%, derive(color-orange, 0%) 0%, derive(color-orange, 100%) 36%, derive(color-orange, 0%) 100%); 
  -fx-background-radius: 8, 8, 8;
  -fx-background-insets: 2, 3, 4;
}

.volume .progress-bar .bar {
  -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, derive(color-red, -75%) 0%, derive(color-red, 0%) 36%, derive(color-red, -75%) 100%),
                        linear-gradient(from 0% 0% to 0% 100%, derive(color-red, -50%) 0%, derive(color-red, 25%) 36%, derive(color-red, -50%) 100%), 
                        linear-gradient(from 0% 0% to 0% 100%, derive(color-red, 0%) 0%, derive(color-red, 100%) 36%, derive(color-red, 0%) 100%); 
  -fx-background-radius: 8, 8, 8;
  -fx-background-insets: 2, 3, 4;
}

.myborderpane {
  -fx-border-color: white;
  -fx-border-width: 2 2 2 2;
}

.myborderpane:focus {
  -fx-border-color: green;
  -fx-border-width: 2 2 2 2;
}

.myborderpane:focused {
  -fx-border-color: red;
  -fx-border-width: 2 2 2 2;
}
