.menu-scroll-box {
  -fx-alignment: center;
  -fx-spacing: 50;
}

.menu-scroll-box .button {
  -fx-content-display: top;
  -fx-text-fill: color-blue-70;
  -fx-font-size: 24pt;
  -fx-background-color: transparent;
}

.menu-scroll-box .button.focused {
  -fx-background-color: radial-gradient(radius 150%, color-blue-20, color-blue-10, color-blue-20);
  -fx-text-fill: white;
}

.menu-scroll-box-overlay {
  -fx-background-color: linear-gradient(from 0% 0% to 100% 0%, black 0%, transparent 50%, black 100%);
}