#video-overlay {
  -fx-background-color: linear-gradient(from 0% 75% to 0% 100%, rgba(0, 0, 0, 0), black 50%);
}

#video-overlay .video-title {
  -fx-font: bold 64pt "Arial";
  -fx-text-fill: white;
}

#video-overlay .video-subtitle {
  -fx-font: bold 24pt "Arial";
  -fx-text-fill: white;
  -fx-padding: 0 0 20 0;
}

#video-overlay {
  -fx-font: 24pt "Arial";
  -fx-text-fill: -c-main;
}

#video-overlay_info_bar {
  -fx-spacing: 20;
  -fx-alignment: CENTER;
}