#select-media *.label {
  -fx-text-fill: color-blue;
}

#select-media .content-box-grid {
  -fx-padding: 10;
  -fx-hgap: 20;
  -fx-vgap: 20;
}

#select-media .content-box {
  -fx-background-color: color-content-background;
  -fx-background-radius: 20;
  -fx-padding: 30;
  -fx-hgap: 20;
}

#select-media .tree-view {
  -fx-background-color: null;
}

#select-media .subtitle {
  -fx-font: 13pt "Arial";
  -fx-label-padding: 0 0 0 10;
}

#select-media .star {
  -fx-fill: linear-gradient(from 0% 0% to 0% 100%, orange 0%, white 33%, orange 100%);
  -fx-stroke: yellow;
  -fx-stroke-width: 1;
}

#select-media .star:disabled {
  -fx-fill: rgb(125, 125, 125);
  -fx-stroke: rgb(125, 125, 125);
}

#select-media .detail .title {
  -fx-font: bold 24pt "Arial";
  -fx-wrap-text: true;
}

#select-media .detail .subtitle {
	-fx-wrap-text: true;
}

#select-media .detail .star-rating {
  -fx-padding: 5 10 5 0;
}

#select-media .detail .rating {
  -fx-font: bold 16pt "Arial";
}

#select-media .detail .genres {
  -fx-font: bold 14pt "Arial";
  -fx-wrap-text: true;
}

#select-media .detail .plot {
  -fx-font: 16pt "Arial";	
  -fx-wrap-text: true;
}

#select-media .header {
  -fx-font: bold 12pt "Arial";
  -fx-text-fill: derive(color-blue, -30%);
  -fx-label-padding: 30 0 0 0;
}

#select-media .list .title {
  -fx-font: bold 19pt "Arial";
  -fx-wrap-text: true;
}

#select-media .list .extra-info {
  -fx-font: 12pt "Arial";
  -fx-text-fill: derive(color-blue, -30%);
}

#select-media .list .star-rating {
	-fx-padding: 0 15 5 15;
}

#select-media .list .group-marker {  /* same as star */
  -fx-fill: linear-gradient(from 0% 0% to 0% 100%, orange 0%, white 33%, orange 100%);
  -fx-stroke: yellow;
  -fx-stroke-width: 1;
}

#select-media .filter {
  -fx-hgap: 5;
}

#select-media .tree-view {
  -fx-border-color: color-blue-20;
  -fx-border-width: 1;
}

#select-media .seasons .label {
  -fx-font: bold 18pt "Arial";
  -fx-text-fill: color-focused-text;
  -fx-label-padding: 5 10 5 10;

  -fx-border-color: color-blue-20;
  -fx-border-width: 1 1 0 1;
  -fx-border-radius: 8 8 0 0;
  
  -fx-background-color: derive(color-blue-20, -30%);
  -fx-background-radius: 8 8 0 0;
}
