.group-name {
  -fx-font-size: 16pt;
  -fx-font-weight: bold;
  -fx-wrap-text: true;
}

.title {
  -fx-text-fill: -c-text-highlight;
  -fx-font-size: 24pt;
  -fx-font-weight: bold;
  -fx-wrap-text: true;
}

.subtitle {
  -fx-label-padding: 0 0 0 10;
  -fx-wrap-text: true;
}

.star-rating {
  -fx-padding: 5 10 5 0;
}

.rating {
  -fx-font-weight: bold; 
}

.genres {
  -fx-font-weight: bold;
  -fx-wrap-text: true;
  -fx-text-fill: -c-text-highlight;
}

.plot {
  -fx-wrap-text: true;
}

.fields {
  -fx-hgap: 20;
}

.header {
  -fx-font-size: 13pt;
  -fx-font-weight: bold;
  -fx-text-fill: -c-text-unobtrusive;
  -fx-label-padding: 30 0 0 0;
}

.field {
  -fx-text-fill: -c-text-highlight;
}
