.content-box-grid {
  -fx-padding: 15 35 0 35;
  -fx-hgap: 35;
  -fx-vgap: 0;
}

.box {
  -c-border: color-content-background;
  -c-bg: color-content-background;
  
  -c-b1: derive(-c-border, +225%);
  -c-b2: derive(-c-border, +85%);
  -c-b3: derive(-c-border, +55%);

  -c-bg1: derive(-c-bg, 5%);
  -c-bg2: derive(-c-bg, -100%);
  -c-bg3: derive(-c-bg, -160%);

  -fx-border-color: 
    linear-gradient(to right, -c-b2, -c-b1, -c-b2) linear-gradient(to bottom, -c-b2, -c-b3 25%, -c-b1 50%, -c-b3 75%, -c-b2) linear-gradient(to right, -c-b2, -c-b1, -c-b2) linear-gradient(to bottom, -c-b2, -c-b3 25%, -c-b1 50%, -c-b3 75%, -c-b2)
  ;

  -fx-border-radius: 25;
  -fx-border-width: 1.5;

  -fx-background-color: linear-gradient(from 25% 0% to 75% 100%, -c-bg3, -c-bg1 28%, -c-bg2 68%, -c-bg3), linear-gradient(to bottom, rgba(0, 0, 0, 0), derive(-c-base, -100%));
  -fx-background-radius: 24, 24;
  -fx-background-insets: 1, 1;
}

.box-content {
  -fx-padding: 30;
  -fx-hgap: 20;
}

.stage {
  -fx-border-color: rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.2);
  -fx-border-width: 1 0 0 0, 1 0 0 0;
  -fx-border-insets: 0, 1;
  
  -fx-background-color: radial-gradient(center 50% 0%, radius 100%, derive(-c-shadow-highlight, -50%), black);
}
