
.root {
  /* -c-(base|text|border|fill|bg)[-group][-description] */
  
  -c-base: rgb(173, 216, 230);
  -c-base-50: rgba(173, 216, 230, 0.5);
  -c-base-25: rgba(173, 216, 230, 0.75);

  -c-text: -c-base;
  -c-text-highlight: derive(-c-base, +75%);
  -c-text-focused: derive(-c-base, +75%);
  -c-text-unobtrusive: derive(-c-base, -30%);
  -c-text-watermark: rgba(173, 216, 230, 0.1);
  
  -c-shadow-highlight: derive(-c-base, -50%);

  -c-border-tab: derive(-c-base, -50%);
  -c-border-highlight: derive(-c-base, +75%);
  -c-border-dialog: -c-base;

  -c-fill-dark: derive(-c-base, -75%);

  -c-star: yellow;
  -c-star-disabled: gray;

  -c-bg-dialog: rgba(173, 216, 230, 0.2);
  -c-bg-dialog-highlight: derive(-c-base-25, -75%);
  -c-bg-transparent: rgba(0, 0, 0, 0.66);

  color-main: -c-base;
  
  color-focused-text: derive(color-main, 30%);

  color-content-background: derive(color-blue-80, -90%);

  color-blue: -c-base;
  color-blue-80: rgba(173, 216, 230, 0.8);
  color-blue-70: rgba(173, 216, 230, 0.7);
  color-blue-50: rgba(173, 216, 230, 0.5);
  color-blue-40: rgba(173, 216, 230, 0.4);
  color-blue-20: rgba(173, 216, 230, 0.2);
  color-blue-10: rgba(173, 216, 230, 0.1);
  color-orange: rgb(255, 180, 50);
  color-green: rgb(0, 255, 0);
  color-yellow: rgb(255, 255, 0);
  color-red: rgb(255, 0, 0);
  color-white: rgb(255, 255, 255);
  
  color-black-50: rgba(0, 0, 0, 0.50);
  color-black-75: rgba(0, 0, 0, 0.75);
  
  -fx-font-family: "Arial";
  -fx-font-size: 16px;
  -fx-font-weight: normal;
}

.tree-view {
  -fx-skin: "hs.mediasystem.controls.TreeViewSkin";
}

/* WORKAROUND for RT-28390: NPE in TreeCellSkin when TreeCell disclosureNode is set to null */
.tree-cell {
  -fx-skin: "hs.mediasystem.controls.TreeCellSkin";
}

.scroll-pane {
  -fx-background-color: transparent;
}

.label {
  -fx-text-fill: color-blue;
}

/*
 * Debug styles
 */
 
.debug-border {
  -fx-stroke: red;
  -fx-stroke-width: 5;
  -fx-border-color: red;
  -fx-border-width: 5;
}

.debug-background {
  -fx-background-color: red;
}

/*
 * List & Tree styles
 */
 
.list-cell:even, .tree-cell:even, .table-cell:even, .list-cell:odd, .tree-cell:odd, .table-cell:odd{
  -fx-background-color: transparent;
}

.list-cell:focused, .tree-cell:focused {
  -fx-background-color: rgba(173, 216, 230, 0.3);
}

.list-cell, .tree-cell, .option-cell {
  -fx-background-color: transparent;

  -fx-padding: 1px;
  -fx-border-color: linear-gradient(to right, transparent, color-blue-20 15%, color-blue-20 85%, transparent);
  -fx-border-width: 1;
  -fx-border-insets: 1;
}

.list-cell:empty, .tree-cell:empty {  
  -fx-border-color: transparent;
  -fx-border-width: 1;
  -fx-border-insets: 1;
}

.list-cell:focused, .tree-cell:focused, .option-cell.focused {
  -fx-background-insets: 1, 1, 1;
  -fx-background-color: radial-gradient(center 25% 0%, radius 25%, color-blue 0%, transparent),
                        radial-gradient(center 75% 100%, radius 25%, color-blue 0%, transparent),
                        linear-gradient(to right, transparent, color-blue-20 15%, color-blue-20 85%, transparent);
  
  -fx-border-width: 1, 1, 1;
  -fx-border-color: radial-gradient(center 25% 0%, radius 25%, color-blue 0%, transparent),
                    radial-gradient(center 75% 100%, radius 25%, color-blue 0%, transparent),
                    linear-gradient(to right, transparent, color-blue-50 15%, color-blue-50 85%, transparent);
                    
}

.list-cell:focused .label, .tree-cell:focused .label, .option-cell.focused .label {
  -fx-text-fill: -c-text-focused;
}

.list .list-view {
  -fx-border-width: 2;
  -fx-border-color: color-blue-20;
  -fx-border-radius: 10;
}

.list .header {
  -fx-alignment: center;
}

.list .header .label {
  -fx-background-color: color-blue-20;
  -fx-background-radius: 8 8 0 0;
  -fx-label-padding: 5 20 5 20;
}

.scroll-bar {
  -fx-skin: "hs.mediasystem.ScrollBarSkin";
}

.scroll-bar .track {
  -fx-fill: derive(color-blue-50, -80%);
}

.scroll-bar .thumb {
  -fx-stroke-width: 2;
  -fx-stroke: derive(color-blue-50, -30%);
  -fx-stroke-type: inside;
  -fx-fill: derive(color-blue-50, -60%);  
}

.star {
  -fx-fill: linear-gradient(from 0% 0% to 0% 100%, derive(-c-star, -25%) 0%, derive(-c-star, 75%) 33%, derive(-c-star, -25%) 100%);
  -fx-stroke: rgba(255, 255, 0, 0.5);
  -fx-stroke-width: 1;
}

.star:disabled {
  -fx-fill: linear-gradient(from 0% 0% to 0% 100%, derive(-c-star-disabled, -25%) 0%, derive(-c-star-disabled, 75%) 33%, derive(-c-star-disabled, -25%) 100%);
  -fx-stroke: -c-star-disabled;
}

.tab-pane {
  -fx-skin: "hs.mediasystem.HackedTabPaneSkin";
}

.tab-pane .tab-header-area .tab-header-background {
   -fx-background-color: transparent;
}

.tab-pane .tab-content-area {
  -fx-border-color: -c-border-tab;
  -fx-border-width: 1 1 1 1;
  -fx-background-color: -c-bg-dialog-highlight;
  -fx-padding: 10 10 10 10;
}

.tab {
  -fx-border-color: derive(-c-border-tab, -33%);
  -fx-border-width: 1 1 0 1;
  -fx-border-radius: 5 5 0 0;
  -fx-background-color: derive(-c-bg-dialog-highlight, -33%);
}

.tab:selected {
  -fx-border-color: -c-border-tab;
  -fx-background-color: -c-bg-dialog-highlight;
}

.tab .tab-label {
  -fx-text-fill: -c-text;
}

.tab:selected .tab-label {
  -fx-text-fill: -c-text-focused;
}