
.root {
  /* -c-(base|text|border|fill|bg)[-group][-description] */
  
  -c-base: rgb(173, 216, 230);
  -c-base-50: rgba(173, 216, 230, 0.5);
  -c-base-25: rgba(173, 216, 230, 0.75);

  -c-text: -c-base;
  -c-text-highlight: derive(-c-base, +75%);
  -c-text-focused: derive(-c-base, +75%);
  -c-text-unobtrusive: derive(-c-base, -30%);
  -c-text-watermark: rgba(173, 216, 230, 0.1);
  
  -c-shadow-highlight: derive(-c-base, -50%);

  -c-border-tab: derive(-c-base, -50%);
  -c-border-control: derive(-c-base, -50%);
  -c-border-highlight: derive(-c-base, +75%);
  -c-border-dialog: -c-base;

  -c-fill-dark: derive(-c-base, -75%);

  -c-star: yellow;
  -c-star-disabled: gray;

  -c-bg-dialog: rgba(173, 216, 230, 0.2);
  -c-bg-dialog-highlight: derive(-c-base-25, -75%);
  -c-bg-transparent: rgba(0, 0, 0, 0.66);

  -c-bg-control: derive(-c-base-25, -75%);
  -c-bg-combobox-cell: rgba(0, 0, 0, 0.8);
  -c-bg-combobox-focused-cell: derive(rgba(173, 216, 230, 0.8), -50%);
  
  -fx-cell-focus-color: -c-bg-combobox-focused-cell;
  -fx-cell-ifocus-color: derive(-fx-focus-color, -60%);

  color-main: -c-base;
  
  color-focused-text: derive(color-main, 30%);

  color-content-background: derive(color-blue-80, -90%);

  color-blue: -c-base;
  color-blue-80: rgba(173, 216, 230, 0.8);
  color-blue-70: rgba(173, 216, 230, 0.7);
  color-blue-50: rgba(173, 216, 230, 0.5);
  color-blue-40: rgba(173, 216, 230, 0.4);
  color-blue-20: rgba(173, 216, 230, 0.2);
  color-blue-10: rgba(173, 216, 230, 0.1);
  color-orange: rgb(255, 180, 50);
  color-green: rgb(0, 255, 0);
  color-yellow: rgb(255, 255, 0);
  color-red: rgb(255, 0, 0);
  color-white: rgb(255, 255, 255);
  
  color-black-50: rgba(0, 0, 0, 0.50);
  color-black-75: rgba(0, 0, 0, 0.75);
  
  -fx-background-color: transparent;
  
  -fx-font-family: "Arial";
  -fx-font-size: 16px;
  -fx-font-weight: normal;
  
  -fx-focus-color: rgb(255, 255, 0);
  -fx-accent: -fx-focus-color;
}

/*
.tree-view {
  -fx-skin: "hs.mediasystem.controls.TreeViewSkin";
}
*/

/* WORKAROUND for RT-28390: NPE in TreeCellSkin when TreeCell disclosureNode is set to null */
.tree-cell {
  -fx-skin: "hs.mediasystem.controls.TreeCellSkin";
}

.scroll-pane {
  -fx-background-color: transparent;
}

.label {
  -fx-text-fill: color-blue;
}

/*
 * Debug styles
 */
 
.debug-border {
  -fx-stroke: red;
  -fx-stroke-width: 5;
  -fx-border-color: red;
  -fx-border-width: 5;
}

.debug-background {
  -fx-background-color: red;
}

/*
 * ListCell, TreeCell and OptionCell: show focused cell 
 */
 
.list-cell:focused, .tree-cell:focused, .option-cell:focused {
  -fx-background-color: rgba(173, 216, 230, 0.3);
}

.list-cell:focused .label, .tree-cell:focused .label, .option-cell.focused .label {
  -fx-text-fill: -c-text-focused;
}

/*
 * ListCell, TreeCell and TableCell: remove odd/even styling
 */
 
.list-cell:even, .tree-cell:even, .table-cell:even, .list-cell:odd, .tree-cell:odd, .table-cell:odd {
  -fx-background-color: transparent;
}

/*
 * ListCell and TreeCell: hide empty cells
 */

.list-cell:empty, .tree-cell:empty {  
  -fx-border-color: transparent;
  -fx-border-width: 1;
  -fx-border-insets: 1;
}
 
/*
 * Styles for .main-list
 */
 
.main-list .list-cell, .main-list .tree-cell, .main-list .option-cell {
  -fx-background-color: transparent;

  -fx-padding: 1px;
  -fx-border-color: linear-gradient(to right, transparent, color-blue-20 15%, color-blue-20 85%, transparent);
  -fx-border-width: 1;
  -fx-border-insets: 1;
}

.main-list .list-cell:focused, .main-list .tree-cell:focused, .main-list .option-cell.focused {
  -fx-background-insets: 1, 1, 1;
  -fx-background-color: radial-gradient(center 25% 0%, radius 25%, color-blue 0%, transparent),
                        radial-gradient(center 75% 100%, radius 25%, color-blue 0%, transparent),
                        linear-gradient(to right, transparent, color-blue-20 15%, color-blue-20 85%, transparent);
  
  -fx-border-width: 1, 1, 1;
  -fx-border-color: radial-gradient(center 25% 0%, radius 25%, color-blue 0%, transparent),
                    radial-gradient(center 75% 100%, radius 25%, color-blue 0%, transparent),
                    linear-gradient(to right, transparent, color-blue-50 15%, color-blue-50 85%, transparent);                 
}

/*
 * Styles for .list
 */

.list .list-view {
  -fx-border-width: 2;
  -fx-border-color: color-blue-20;
  -fx-border-radius: 10;
}

.list .header {
  -fx-alignment: center;
}

.list .header .label {
  -fx-background-color: color-blue-20;
  -fx-background-radius: 8 8 0 0;
  -fx-label-padding: 5 20 5 20;
}

/*
 * ============
 */

.scroll-bar {
  -fx-skin: "hs.mediasystem.ScrollBarSkin";
}

.scroll-bar .track {
  -fx-fill: derive(color-blue-50, -80%);
}

.scroll-bar .thumb {
  -fx-stroke-width: 2;
  -fx-stroke: derive(color-blue-50, -30%);
  -fx-stroke-type: inside;
  -fx-fill: derive(color-blue-50, -60%);  
}

.star {
  -fx-fill: linear-gradient(from 0% 0% to 0% 100%, derive(-c-star, -25%) 0%, derive(-c-star, 75%) 33%, derive(-c-star, -25%) 100%);
  -fx-stroke: rgba(255, 255, 0, 0.5);
  -fx-stroke-width: 1;
}

.background .star {
  -fx-fill: linear-gradient(from 0% 0% to 0% 100%, derive(-c-star-disabled, -25%) 0%, derive(-c-star-disabled, 75%) 33%, derive(-c-star-disabled, -25%) 100%);
  -fx-stroke: -c-star-disabled;
}

.tab-pane {
  -fx-skin: "hs.mediasystem.HackedTabPaneSkin";
}

.tab-pane .tab-header-area .tab-header-background {
   -fx-background-color: transparent;
}

.tab-pane .tab-content-area {
  -fx-border-color: -c-border-tab;
  -fx-border-width: 1 1 1 1;
  -fx-background-color: -c-bg-dialog-highlight;
  -fx-padding: 10 10 10 10;
}

.tab {
  -fx-border-color: derive(-c-border-tab, -33%);
  -fx-border-width: 1 1 0 1;
  -fx-border-radius: 5 5 0 0;
  -fx-background-color: derive(-c-bg-dialog-highlight, -33%);
}

.tab:selected {
  -fx-border-color: -c-border-tab;
  -fx-background-color: -c-bg-dialog-highlight;
}

.tab .tab-label {
  -fx-text-fill: -c-text;
}

.tab:selected .tab-label {
  -fx-text-fill: -c-text-focused;
}

/*
 * ComboBox: MediaLook
 */

.media-look .combo-box {
  -fx-background-color: -c-bg-control;
  -fx-border-color: -c-border-control;
  -fx-border-width: 1;
}

.media-look .combo-box .arrow-button {
  -fx-background-color: -c-bg-control; 
  -fx-border-color: transparent, -c-border-control;
  -fx-border-width: 1, 1;
  -fx-border-insets: 0, 1;
}

.media-look .combo-box .list-cell {
  -fx-text-fill: -c-text-highlight;
}

.media-look .combo-box-popup .list-view {
  -fx-background-color: -c-bg-transparent;   
  -fx-border-color: -c-border-tab;
  -fx-border-width: 1 1 1 1;
}

.media-look .combo-box-popup .list-view .list-cell {
  -fx-text-fill: -c-text;
}

.media-look .combo-box-popup .list-view .list-cell:focused {
  -fx-background-color: -c-bg-combobox-focused-cell;
  -fx-text-fill: -c-text-focused;
}

.media-look .combo-box-base > .arrow-button > .arrow {
  -fx-background-color: -c-border-control;
}

/*
 * CheckBox: MediaLook
 */

.media-look .check-box {
  -fx-text-fill: -c-text;
}

.media-look .check-box > .box {
  -fx-background-color: -c-bg-control;
  -fx-background-insets: 0;
  -fx-background-radius: 0;
    
  -fx-border-color: -c-border-control;
  -fx-border-insets: 0;
  -fx-border-radius: 0;
  -fx-border-width: 1;
}

.media-look .check-box:selected > .box > .mark {
  -fx-background-color: -c-text-highlight;
}

/*
 * Button: MediaLook
 */
 
.media-look .button {
  -fx-background-color: -c-bg-control;
  -fx-background-insets: 0;
  -fx-background-radius: 0;

  -fx-text-fill: -c-text-highlight;

  -fx-border-color: -c-border-control;
  -fx-border-width: 1;
  -fx-border-insets: 0;
  -fx-border-radius: 0;
}

/*
 * List: MediaLook
 */
 
.media-look .list-view {
  -fx-background-color: -c-bg-control;
  -fx-background-insets: 0;
  -fx-background-radius: 0;

  -fx-border-color: -c-border-control;
  -fx-border-width: 1;
  -fx-border-insets: 0;
  -fx-border-radius: 0;
}

.media-look .list-view .list-cell {
  -fx-text-fill: -c-text-highlight;
}

.media-look .list-view .list-cell:focused {
  -fx-background-color: -fx-cell-focus-color;
  -fx-text-fill: -c-text-focused;
}

/*
 * Slider: MediaLook
 */
 
.media-look .slider {
  -fx-border-color: -c-border-control;
  -fx-border-width: 0;
  -fx-border-insets: 1;
  -fx-border-radius: 0;
}

.media-look .slider:focused,
.media-look .slider.focused
{
  -fx-background-color: transparent;
}

/*
 * MediaLook: Focus
 */
 
.media-look .check-box.focused > .box, 
.media-look .combo-box-base.focused, 
.media-look .button.focused,
.media-look .list-view.focused:external-focus,  /* without mouse focus */
.media-look .list-view:focused:external-focus   /* with mouse focus */
{
  -fx-border-color: -fx-focus-color, -c-border-control;
  -fx-border-width: 3, 1;
  -fx-border-insets: -5.4, 0;
  -fx-border-radius: 5.4, 0;
}

.media-look .slider.focused:external-focus,
.media-look .slider:focused:external-focus
{
  -fx-border-color: -fx-focus-color, transparent;
  -fx-border-width: 3, 1;
  -fx-border-insets: -5.4, 0;
  -fx-border-radius: 5.4, 0;
}

.media-look .slider.focused:internal-focus *.thumb,
.media-look .slider:focused:internal-focus *.thumb
{
  -fx-background-color:
        -fx-focus-color,
        derive(-fx-color,-36%),
        derive(-fx-color,73%),
        linear-gradient(to bottom, derive(-fx-color,-19%),derive(-fx-color,61%));
  -fx-background-radius: 17.4, 14, 13, 12;
  -fx-background-insets: -3.4, 0, 1, 2;
}

.media-look .list-view:internal-focus .list-cell:focused,
.media-look .combo-box-popup .list-view .list-cell:filled:selected
{
  -fx-background-color: -fx-focus-color, -fx-cell-ifocus-color !important;
  -fx-background-insets: 0, 1 !important;
}

/*
 * Keyboard shortcut styling
 */
 
.label.shortcut {
  -base: rgb(255, 245, 230);
  -fx-border-width: 1;
  -fx-border-radius: 3;
  -fx-border-insets: 1 1 3 1;
  -fx-border-color: linear-gradient(from 100% 100% to 0% 0%, -base, derive(-base, -30%));
  -fx-background-radius: 5, 0;
  -fx-background-insets: 0, 2 2 4 2;
  -fx-background-color: linear-gradient(from 100% 0% to 0% 100%, derive(-base, -25%), derive(-base, -50%)), linear-gradient(from 0% 0% to 0% 100%, derive(-base, -15%), derive(-base, -25%));
  -fx-font-family: "Arial";
  -fx-font-size: 10px;
  -fx-font-weight: bold;
  -fx-text-fill: black;
  -fx-label-padding: 0 5 2 2;
  -fx-alignment: top-left;
}

.dialog.media-look .input-fields,
.dialog .media-look .input-fields
{
  -fx-hgap: 8px;
  -fx-vgap: 8px;
  -fx-spacing: 8px;
}

.dialog.media-look,
.dialog .media-look
{
  -fx-hgap: 16px;
  -fx-vgap: 16px;
  -fx-spacing: 16px;
}

.enabled-look .label:disabled,
.enabled-look .button:disabled,
.enabled-look .list-view:disabled,
.enabled-look .tree-view:disabled,
.enabled-look .list-cell:disabled,
.enabled-look .tree-cell:disabled,
.enabled-look .scroll-bar:disabled
{
  -fx-opacity: 1;
}
