.elements {
  -fx-background-color: color-content-background;
  -fx-background-radius: 0 0 8 0;
  -fx-font-size: 13pt;
  -fx-font-weight: bold;
}

.element {
  -fx-padding: 5 22 5 20;
  -fx-alignment: center;
  -fx-border-color: derive(color-content-background, -100%), derive(color-content-background, -100%);
  -fx-border-insets: 0 0 0 0, 0 0 0 1;
  -fx-border-width: 0 0 0 1, 0 0 0 1;
}

.memory .bar {
  -fx-border-width: 1;
  -fx-border-color: color-blue;
  -fx-padding: 2;
}

.memory .label {
  -fx-text-fill: white;
}

.program-name .label {
  -fx-text-fill: white;
}

.program-name {
  -fx-padding: 0 40 0 30;
  -fx-scale-x: 1.5;
  -fx-scale-y: 1.5;
}

.program-name .left {
  -fx-translate-y: -2; 
}

.program-name .center {
  -fx-label-padding: 0 2 0 1;
  -fx-font-size: 12pt;
  -fx-font-weight: bold;
  -fx-font-style: italic;
  -fx-scale-x: 2.0;
  -fx-scale-y: 2.0;
}

.program-name .right {
  -fx-translate-y: 2; 
}
