.label {
  -fx-font-weight: bold;
  -fx-font-size: 18px; 
}

.time.label, .position.label {
  -fx-text-fill: color-blue-40;
}

.time.label, .position.label, .osd {
  -fx-padding: 5;
  
  -fx-background-radius: 5;
  -fx-background-color: rgba(0, 0, 0, 0.3);
}

.osd {
  -fx-spacing: 7;
}
