
.status-messages {
  -fx-spacing: 10;
  
  -fx-background-color: color-black-50;
  -fx-background-radius: 0 0 0 15;
  
  -fx-padding: 10;
}

.title {
  -fx-font: bold 18px "Arial";
  -fx-wrap-text: true;
}

.item {
  -fx-border-width: 2;
  -fx-border-color: color-blue-20;
  -fx-border-radius: 10;
  -fx-padding: 10;
}

.description {
  -fx-padding: 0 10 10 10;
  -fx-wrap-text: true;
}

.progress-indicator {
  -fx-translate-y: 5;
  -fx-padding: 0 10 0 0;
}

.progress-indicator .percentage {
  visibility: hidden;
}